*{
  background-color: rgb(0, 0, 0);
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
header{
  background-color: black;
  margin: 0%;
}
#image-1{
height: 75px;
margin:  15px 105px;
display: flex;
justify-content: flex-start;

}
hr{
  lighting-color: gray;
}




nav,.div,a{
  color: white;
  display: flex;
  justify-content: flex-end;
  margin-top: -25px;
  margin-right: 40px;
  align-items: center;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 200;
  font-style: bold;
  
}
#button1{
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 50px;
  margin-top: -20px;
  margin-bottom: 15px;
}
#button2{
  background-color: black;
  color: white;
  border: 1px solid red;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 50px;
  margin-top: -35px;
  margin-right: 7px;
  background-color: red;
}
.div,button{
  gap: 10px;
}




#image2{
  height: 555px;
}